html 
    head 
    title The Data Express 
    link(rel='stylesheet', href='/css/style.css')
body 
    header 
        h1 The Data Express 
        nav 
            a(href='/') Home 
            a(href='/login') Login 
            a(href='/u/register') Register 
    section(class="content")
        block layout-content 
    footer 
        p Copyright &copy; The Data Express 2022
