extends layout 

block layout-content 
    h1 Welcome to the Register Page
    div(class="form-group")
        span(class="error") #{error}
        form(action="/u/register", method="post")
            label(for="username") Username
            input(type="username", name="username", placeholder="Username")
            br
            label(for="email") Email
            input(type="text", name="email", placeholder="Email")
            br
            label(for="age") Age
            input(type="number", name="age", placeholder="Age")
            br
            label(for="password") Password
            input(type="password", name="password", placeholder="Password")
            br
            label(for="password-confirm") Confirm Password
            input(type="password", name="confirmPassword", placeholder="Confirm Password")
            br

            label(for="question1") What is your favorite color?
            label(for="question1-1") Red
            input(type="radio", name="question1", value="red")
            label(for="question1-2") Blue
            input(type="radio", name="question1", value="blue")
            label(for="question1-3") Green
            input(type="radio", name="question1", value="green")
            br
            label(for="question2") What is your favorite animal?
            label(for="question2-1") Dog
            input(type="radio", name="question2", value="dog")
            label(for="question2-2") Cat
            input(type="radio", name="question2", value="cat")
            label(for="question2-3") Fish
            input(type="radio", name="question2", value="fish")
            br
            label(for="question3") What is your favorite food?
            label(for="question3-1") Pizza
            input(type="radio", name="question3", value="pizza")
            label(for="question3-2") Pasta
            input(type="radio", name="question3", value="pasta")
            label(for="question3-3") Sushi
            input(type="radio", name="question3", value="sushi")
            br

            input(type="submit", value="Register")
            